* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-size: 18px;
}

h1 {
  color: blue;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
}

.calculator {
  background-color: rgb(254, 250, 245);
  width: 100%;
  max-width: 30rem;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 2px 3px rgb(0, 54, 0);
}

.display .displayvalue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 3.5rem;
  padding: 10px;
  width: 100%;
  background-color: rgb(110, 110, 110);
  outline: none;
  border: none;
  text-align: right;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 3px 2px 3px rgb(0, 54, 0);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.keyboard .zero {
  grid-column: span 2;
}

.key {
  border: 1px solid gray;
  text-align: center;
  padding: 15px 0;
  background-color: rgb(232, 231, 231);
  font-weight: 500;
}

.operand {
  background-color: rgb(254, 156, 43);
}

button {
  border: none;
}

.quotewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  border: 1px solid goldenrod;
  padding: 2rem;
  margin: -9rem 6rem 0 6rem;
  border-radius: 50px;
  box-shadow:
    4px 2px 0.2rem rgb(0, 54, 0),
    inset 4px 2px 0.2rem rgb(0, 54, 0);
}

.quotegenerator {
  margin: -5px 0 5px 0;
  color: blue;
  font-weight: 500;
  line-height: 2rem;
}
