* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-size: 18px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
}

.calculator {
  background-color: rgb(254, 250, 245);
  width: 100%;
  max-width: 35rem;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 2px 3px rgb(0, 54, 0);
  margin: -2rem auto 0 auto;
}

.display .displayvalue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 3.5rem;
  padding: 10px;
  width: 100%;
  background-color: rgb(110, 110, 110);
  outline: none;
  border: none;
  text-align: right;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 3px 2px 3px rgb(0, 54, 0);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.keyboard .zero {
  grid-column: span 2;
}

.key {
  border: 1px solid gray;
  text-align: center;
  padding: 15px 0;
  background-color: rgb(232, 231, 231);
  font-weight: 500;
}

.operand {
  background-color: rgb(254, 156, 43);
}

button {
  border: none;
}

.quotewrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  border: 1px solid goldenrod;
  padding: 2rem;
  margin: 5rem 6rem 0 6rem;
  border-radius: 50px;
  box-shadow:
    4px 2px 0.2rem rgb(0, 54, 0),
    inset 4px 2px 0.2rem rgb(0, 54, 0);
}

.quotegenerator {
  margin: -5px 0 5px 0;
  color: rgb(173, 113, 2);
  font-weight: 700;
  line-height: 2rem;
}

.nav-bar {
  width: 100%;
  position: fixed;
  background-color: black;
  min-height: 70px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 3rem;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-right: 5rem;
}

.nav-bar li {
  border-right: 2px solid gray;
}

.nav-bar a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.3rem;
  font-weight: 500;
  padding-right: 15px;
}

.nav-bar a:focus {
  color: rgb(227, 148, 0);
  font-size: 1.5rem;
}

.nav-bar span {
  color: rgb(232, 151, 2);
  font-size: 1.5rem;
  font-style: normal !important;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

h2 {
  color: rgb(227, 148, 0);
  font-weight: 700;
}
