* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: rgb(254, 250, 245);
  width: 100%;
  max-width: 30rem;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 4px 0.2rem grey;
}

.display .displayvalue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 3.5rem;
  padding: 10px;
  width: 100%;
  background-color: rgb(110, 110, 110);
  outline: none;
  border: none;
  text-align: right;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 1px 1px 0 grey;
}




.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.keyboard .zero {
  grid-column: span 2;
}

.key {
  border: 1px solid gray;
  text-align: center;
  padding: 15px 0;
  background-color: rgb(232, 231, 231);
  font-weight: 500;
}

.operand {
  background-color: rgb(254, 156, 43);
}

button {
  border: none;
}
